// --------------------------------------------------
// Variables
// --------------------------------------------------

// Fonts
$fontText: 'Helvetica', 'Arial', 'sans-serif';
$fontTitle: 'Helvetica', 'Arial', 'sans-serif';

// Accents Colors
$colorAccent1: #149ed8;

// Blocks and Text
$black: #000000;
$white: #FFFFFF;
$light: #E5E5E5;
$grey: #A5A5A5;
$lightGrey: #F2F2F2;
$darkGrey: #303030;
